// =============================================================================
// RELATED POSTS STYLES
// =============================================================================

// General
// -----------------------------------------------------------------------------
.related-posts {
  @include inline-block;
  margin-top: $distance * 3;
  width: 100%;

  > span {
    display: block;
    text-align: center;
    font-size: $ftiny;
    font-weight: $light;
    line-height: $auth-image / 2;
  }

  > a {
    font-size: $ftiny;
    line-height: $auth-image / 2;
    float: left;

    &:last-of-type{
      float: right;
    }
  }
}
// -----------------------------------------------------------------------------
